In [1]:
import os
import pandas as pd
pd.set_option('display.max_rows', 5)
pd.set_option('display.max_columns', 10)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
all_time = ["1-2", "1.5-2.5", "2-3", "2.5-3.5", "3-4", "3.5-4.5", "4-5", "4.5-5.5", "5-6", "5.5-6.5", "6-7", "7-8", "8-9", "9-10", "10-11", "11-12", "12-13", "13-14", "14-15", "15-16", "16-17", "17-18", "18-19", "19-20", "20-21", "21-22", "22-23", "23-24"]
exculded = ["1.5-2.5", "2.5-3.5", "3.5-4.5", "4.5-5.5", "5.5-6.5"]
time_point = [item for item in all_time if item not in exculded]
file_name = "./GSE/GSE6186"
file = f"{file_name}.tsv"
df = pd.read_csv(file, delimiter='\t', index_col=0)
df

,GSM142992\n1-2 hour,GSM142993\n1.5-2.5 hour,GSM142994\n2-3 hour\nembryo,GSM142995\n2.5-3.5 hour\nembryos,GSM142996\n3-4 hour\nembryos,...,GSM143015\n19-20 hour\nembryo,GSM143016\n20-21 hour\nembryo,GSM143017\n21-22 hour\nembryo,GSM143018\n22-23 hour\nembryo,GSM143019\n23-24 hour\nembryo
ID_REF,,,,,,,,,,,
KP=KP00001-128,-2.5367,-2.5064,-2.0547,-2.0831,-1.6606,...,-1.2803,-1.1194,-0.3992,-0.6461,-1.1910
KP=KP00002-285,-1.8296,-1.7051,-1.6883,-1.4779,-1.7661,...,-1.1402,-1.1714,-0.8783,-0.9241,-1.3733
...,...,...,...,...,...,...,...,...,...,...,...
KP=KP14052-338,1.9606,2.8613,1.6722,1.8509,1.8492,...,-0.7866,-0.4141,-0.8476,-0.7483,-0.7644
KP=KP14053-390,-0.3410,-0.3243,-0.3443,-0.3370,-0.3178,...,-0.2188,-0.3984,-0.4074,-0.4299,-0.1340

In [3]:
all_time = ["1-2", "1.5-2.5", "2-3", "2.5-3.5", "3-4", "3.5-4.5", "4-5", "4.5-5.5", "5-6", "5.5-6.5", "6-7", "7-8", "8-9", "9-10", "10-11", "11-12", "12-13", "13-14", "14-15", "15-16", "16-17", "17-18", "18-19", "19-20", "20-21", "21-22", "22-23", "23-24"]
exculded = ["1.5-2.5", "2.5-3.5", "3.5-4.5", "4.5-5.5", "5.5-6.5"]
time_point = [item for item in all_time if item not in exculded]

In [4]:
df.rename(columns=dict(zip(df.columns, all_time)), inplace = True)
df

,1-2,1.5-2.5,2-3,2.5-3.5,3-4,...,19-20,20-21,21-22,22-23,23-24
ID_REF,,,,,,,,,,,
KP=KP00001-128,-2.5367,-2.5064,-2.0547,-2.0831,-1.6606,...,-1.2803,-1.1194,-0.3992,-0.6461,-1.1910
KP=KP00002-285,-1.8296,-1.7051,-1.6883,-1.4779,-1.7661,...,-1.1402,-1.1714,-0.8783,-0.9241,-1.3733
...,...,...,...,...,...,...,...,...,...,...,...
KP=KP14052-338,1.9606,2.8613,1.6722,1.8509,1.8492,...,-0.7866,-0.4141,-0.8476,-0.7483,-0.7644
KP=KP14053-390,-0.3410,-0.3243,-0.3443,-0.3370,-0.3178,...,-0.2188,-0.3984,-0.4074,-0.4299,-0.1340

## Drop overlapped time points

In [5]:
# df = df.drop(index=exculded)
df = df[time_point]
df

,1-2,2-3,3-4,4-5,5-6,...,19-20,20-21,21-22,22-23,23-24
ID_REF,,,,,,,,,,,
KP=KP00001-128,-2.5367,-2.0547,-1.6606,-1.6291,-1.6335,...,-1.2803,-1.1194,-0.3992,-0.6461,-1.1910
KP=KP00002-285,-1.8296,-1.6883,-1.7661,-1.3537,-1.4552,...,-1.1402,-1.1714,-0.8783,-0.9241,-1.3733
...,...,...,...,...,...,...,...,...,...,...,...
KP=KP14052-338,1.9606,1.6722,1.8492,1.6192,1.7937,...,-0.7866,-0.4141,-0.8476,-0.7483,-0.7644
KP=KP14053-390,-0.3410,-0.3443,-0.3178,-0.4521,0.0346,...,-0.2188,-0.3984,-0.4074,-0.4299,-0.1340

## Transpose matrix

#### in time series data the date must be `row index`

In [6]:
df = df.T
df

ID_REF,KP=KP00001-128,KP=KP00002-285,KP=KP00003-209,KP=KP00004-387,KP=KP00005-360,...,KP=KP14049-750,KP=KP14050-174,KP=KP14051-750,KP=KP14052-338,KP=KP14053-390
1-2,-2.5367,-1.8296,-2.0852,1.5347,-0.6215,...,1.4478,-1.3058,2.3805,1.9606,-0.3410
2-3,-2.0547,-1.6883,-1.8746,1.7354,0.2534,...,1.0764,-1.3255,2.1307,1.6722,-0.3443
...,...,...,...,...,...,...,...,...,...,...,...
22-23,-0.6461,-0.9241,-1.2758,-0.2868,-0.3165,...,-0.1192,-0.7466,-0.3653,-0.7483,-0.4299
23-24,-1.1910,-1.3733,-1.3596,-0.0029,-0.4125,...,-0.4880,-1.3511,-0.4515,-0.7644,-0.1340

In [7]:
df = df.rename_axis(None, axis="columns")
df = df.rename_axis('time')
df

,KP=KP00001-128,KP=KP00002-285,KP=KP00003-209,KP=KP00004-387,KP=KP00005-360,...,KP=KP14049-750,KP=KP14050-174,KP=KP14051-750,KP=KP14052-338,KP=KP14053-390
time,,,,,,,,,,,
1-2,-2.5367,-1.8296,-2.0852,1.5347,-0.6215,...,1.4478,-1.3058,2.3805,1.9606,-0.3410
2-3,-2.0547,-1.6883,-1.8746,1.7354,0.2534,...,1.0764,-1.3255,2.1307,1.6722,-0.3443
...,...,...,...,...,...,...,...,...,...,...,...
22-23,-0.6461,-0.9241,-1.2758,-0.2868,-0.3165,...,-0.1192,-0.7466,-0.3653,-0.7483,-0.4299
23-24,-1.1910,-1.3733,-1.3596,-0.0029,-0.4125,...,-0.4880,-1.3511,-0.4515,-0.7644,-0.1340

### make the index pandas DatetimeIndex

In [8]:
df.index

Index(['1-2', '2-3', '3-4', '4-5', '5-6', '6-7', '7-8', '8-9', '9-10', '10-11',
       '11-12', '12-13', '13-14', '14-15', '15-16', '16-17', '17-18', '18-19',
       '19-20', '20-21', '21-22', '22-23', '23-24'],
      dtype='object', name='time')

In [9]:
pd.date_range("1:00:00", "23:00:00", freq="H")

DatetimeIndex(['2023-06-11 01:00:00', '2023-06-11 02:00:00',
               '2023-06-11 03:00:00', '2023-06-11 04:00:00',
               '2023-06-11 05:00:00', '2023-06-11 06:00:00',
               '2023-06-11 07:00:00', '2023-06-11 08:00:00',
               '2023-06-11 09:00:00', '2023-06-11 10:00:00',
               '2023-06-11 11:00:00', '2023-06-11 12:00:00',
               '2023-06-11 13:00:00', '2023-06-11 14:00:00',
               '2023-06-11 15:00:00', '2023-06-11 16:00:00',
               '2023-06-11 17:00:00', '2023-06-11 18:00:00',
               '2023-06-11 19:00:00', '2023-06-11 20:00:00',
               '2023-06-11 21:00:00', '2023-06-11 22:00:00',
               '2023-06-11 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [10]:
df.set_index(pd.date_range("1:00:00", "23:00:00", freq="H"), inplace=True)

# Imputing NA

## get column that missing values

In [11]:
gene_miss_tp = df.columns[df.isna().any()].tolist()
gene_miss_tp

['KP=KP05793-750', 'KP=KP07875-337', 'KP=KP11344-240']

In [12]:
for col in gene_miss_tp:
    df[col].isna().sum()
    df[df[col].isna()][col]

1

2023-06-11 02:00:00   NaN
Freq: H, Name: KP=KP05793-750, dtype: float64

1

2023-06-11 03:00:00   NaN
Freq: H, Name: KP=KP07875-337, dtype: float64

1

2023-06-11 08:00:00   NaN
Freq: H, Name: KP=KP11344-240, dtype: float64

## fill missing data

In [13]:
for col in gene_miss_tp:
    df[col].interpolate(method="linear", inplace=True)

# save

In [14]:
df.to_csv(f"{file_name}_cleaned.csv", index_label='time')

### optional: remove original GSE

In [15]:
# os.remove(file)