In [14]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 5)
pd.set_option('display.max_columns', 10)
from tslearn.preprocessing import TimeSeriesScalerMeanVariance

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Load Data

In [15]:
file_name = "./GSE/GSE6186_cleaned"
file = f"{file_name}.csv"
df = pd.read_csv(file, index_col=0, parse_dates=True)
df

,KP=KP00001-128,KP=KP00002-285,KP=KP00003-209,KP=KP00004-387,KP=KP00005-360,...,KP=KP14049-750,KP=KP14050-174,KP=KP14051-750,KP=KP14052-338,KP=KP14053-390
time,,,,,,,,,,,
2023-06-11 01:00:00,-2.5367,-1.8296,-2.0852,1.5347,-0.6215,...,1.4478,-1.3058,2.3805,1.9606,-0.3410
2023-06-11 02:00:00,-2.0547,-1.6883,-1.8746,1.7354,0.2534,...,1.0764,-1.3255,2.1307,1.6722,-0.3443
...,...,...,...,...,...,...,...,...,...,...,...
2023-06-11 22:00:00,-0.6461,-0.9241,-1.2758,-0.2868,-0.3165,...,-0.1192,-0.7466,-0.3653,-0.7483,-0.4299
2023-06-11 23:00:00,-1.1910,-1.3733,-1.3596,-0.0029,-0.4125,...,-0.4880,-1.3511,-0.4515,-0.7644,-0.1340

# scale data

### TimeSeriesScalerMeanVariance need time as column

#### Transpose

In [16]:
scaler = TimeSeriesScalerMeanVariance()
df_scaled = scaler.fit_transform(df.T)

In [17]:
df_scaled = df_scaled.reshape(df_scaled.shape[0], df_scaled.shape[1])
df_scaled.shape

(14064, 23)

## inverse Transpose

In [18]:
df_scaled = df_scaled.T

### assign index/columns_name of original to scaled data

In [19]:
df_scaled = pd.DataFrame(data=df_scaled, index=df.index, columns=df.columns)

# Save scaled Data

In [20]:
df_scaled.to_csv(f"./GSE/GSE6186_scaled.csv", index_label='time')

___